{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header text-center">
        Welcome
    </h1>
    <div class="container">
        <p>Designed for any object-oriented structured data model, <strong>OntoME</strong> makes it easy to <strong>build</strong>, <strong>manage</strong> and <strong>align</strong> your ontology. </p>
        <p><strong>Create</strong> a free account and start immediately to create classes and properties for your project in a collaborative framework. </p>
        <p><strong>Align</strong> your classes to CIDOC CRM and compatible models and access to robust interoperability.</p>
        <p><strong>Or simply browse</strong> through the existing ontologies. Start your discovery by opening the <a href="{{ url('app_class_list') }}"><strong>classes list</strong></a> in the above menu and search for the class you need!</p>
    </div>
{% endblock %}