{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Terms of Service{% endblock %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs" id="main-tabs">
            <li class="active"><a data-toggle="tab" href="#cgufr"><span class="flag-icon flag-icon-fr"></span> Conditions générales d'utilisation</a></li>
            <li><a data-toggle="tab" href="#cguen"><span class="flag-icon flag-icon-gb"></span> Terms of Service</a></li>
        </ul>
        <div class="tab-content">
            <div id="cgufr" class="tab-pane fade in active">
                <h1 class="page-header">Conditions générales d'utilisation</h1>
                <h2>Article 1 – Objet</h2>
                <p class="text-justify">Les présentes « conditions générales d'utilisation », ci-après nommées «CGU» ont pour objet l'encadrement juridique des modalités de mise à disposition des services de l'application en ligne OntoME, ci-après nommée «OntoME» ou «l'application» et leur utilisation par «l'utilisateur».</p>
                <p class="text-justify">Les CGU doivent être acceptées par tout utilisateur souhaitant accéder à l'application. Elles constituent le contrat entre l'application et l'utilisateur. L’accès à l'application par l’utilisateur signifie son acceptation des présentes conditions générales d’utilisation.</p>
                <h2>Article 2 – Mentions légales</h2>
                <p class="text-justify">OntoME est développée au sein de l’Axe de recherche en historique numérique (ARHN) du Laboratoire de recherche historique Rhône-Alpes (UMR 5190 LARHRA – CNRS, Université Lumière Lyon 2, Université Jean-Moulin Lyon 3, École normale supérieure de Lyon, Université de Grenoble-Alpes), ci-après nommé «LARHRA». Le LARHRA met à disposition les serveurs sur lesquels se trouvent OntoME et les logiciels relatifs, ainsi que le support informatique et la sauvegarde régulière des données.</p>
                <p>Le directeur de la publication est Sophie Raux, directrice du LARHRA.<br>Les administrateurs de l'application sont:</p>
                <ul>
                    <li>Francesco Beretta, directeur du projet.</li>
                    <li>Vincent Alamercery, chargé de projet, coresponsable de l’ARHN.</li>
                    <li>Djamel Ferhod, développeur en chef.</li>
                    <li>Alexandre Perraud, développeur.</li>
                </ul>
                <h2>Article 3 – Définitions</h2>
                <ul>
                    <li>Utilisateur: ce terme désigne toute personne qui utilise l'application.</li>
                    <li>Membre: un utilisateur devient membre lorsqu'il est identifié dans l'application.</li>
                    <li>Contenu utilisateur: les données transmises par l'utilisateur au sein de l'application.</li>
                    <li>Identifiant et mot de passe: l'ensemble des informations nécessaires à l'identification d'un utilisateur de l'application. L'identifiant et le mot de passe permettent à l'utilisateur d'accéder à des services réservés aux membres de l'application. Le mot de passe est confidentiel.</li>
                </ul>
                <h2>Article 4 – Accès aux services</h2>
                <p class="text-justify">L'application est accessible gratuitement en tout lieu à tout utilisateur ayant un accès à Internet. Tous les frais supportés par l'utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.</p>
                <p class="text-justify">L’utilisateur non membre n'a pas accès aux services réservés aux membres. Pour cela, il doit s'identifier à l'aide de son identifiant et de son mot de passe. Le non-respect des CGU par un membre peut entraîner la suppression de ses accès à OntoME.</p>
                <p class="text-justify">Le LARHRA met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité aux services de l'application. L'obligation étant de moyens, le LARHRA ne s'engage pas à atteindre ce résultat.</p>
                <p class="text-justify">L’obligation générale du LARHRA en tant qu’éditeur de l'application OntoME est une obligation de moyens, et les utilisateurs reconnaissent qu’il ne pèse sur le LARHRA aucune obligation de résultat</p>
                <p class="text-justify">Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n'engage pas la responsabilité du LARHRA.</p>
                <p class="text-justify">L'accès à OntoME peut à tout moment faire l'objet d'une interruption, d'une suspension, d'une modification sans préavis pour une maintenance ou pour tout autre cas. L'utilisateur s'oblige à ne réclamer aucune indemnisation suite à l'interruption, à la suspension ou à la modification du présent contrat.</p>
                <p class="text-justify">En cas de retrait, d’exclusion ou de toute autre raison mettant fin à l'accès d'un membre à OntoME, celui-ci ne pourra demander la suppression du contenu qu'il a créé. Le nom du producteur des contenus restera toutefois associé à ceux-ci.</p>
                <p class="text-justify">L'utilisateur a la possibilité de contacter les administrateurs de l'application par messagerie électronique à l’adresse <a href="mailto:contact@ontome.net">contact@ontome.net</a>.</p>
                <h2>Article 5 – Propriété intellectuelle</h2>
                <p class="text-justify">La propriété intellectuelle de l'application OntoME, de l’architecture et du développement de la base de données appartient au LARHRA. Le LARHRA est le producteur de l'application OntoME et de sa base de données au sens de l’article L341-1 du Code français de propriété intellectuelle.</p>
                <p class="text-justify">Le contenu utilisateur est soumis à la licence <strong>Creative Commons BY-SA 4.0 International</strong> (Attribution, partage dans les mêmes conditions) telle que décrite ici: <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" target="_blank">https://creativecommons.org/licenses/by-sa/4.0/legalcode</a>.</p>
                <p class="text-justify">Les membres restent titulaires de l’intégralité de leurs droits de propriété intellectuelle.</p>
                <h2>Article 6 – Liens hypertextes</h2>
                <p class="text-justify">Les liens mis en place depuis l’application vers des sites extérieurs ne sauraient engager la responsabilité du LARHRA, notamment au regard du contenu de ces sites, mais également des risques techniques. En acceptant d'utiliser un lien hypertexte pour accéder à un site extérieur, vous acceptez de prendre les risques et de subir un éventuel préjudice direct ou indirect. La création de liens hypertexte vers l’application est totalement autorisée.</p>
                <h2>Article 7 – Publication par l'utilisateur</h2>
                <p class="text-justify">L'application permet aux membres de publier des commentaires.</p>
                <p class="text-justify">Dans ses publications, le membre s’engage à respecter les règles élémentaires de courtoisie et les règles de droit en vigueur.</p>
                <p class="text-justify">Les administrateurs de l'application exercent une modération <i>a posteriori</i> sur les commentaires et se réservent le droit de refuser leur mise en ligne, sans avoir à s’en justifier auprès du membre.</p>
                <p class="text-justify">Les commentaires, tout comme l'ensemble des données produites dans l'application, sont soumis à  la licence Creative Commons 4.0 CC-BY-SA telle que décrite dans l'article 5.</p>
                <h2>Article 8 – Responsabilité de l’utilisateur</h2>
                <p class="text-justify">L'utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite.</p>
                <p class="text-justify">L’utilisateur doit renseigner une adresse électronique pérenne pour créer son compte. L’utilisation d’une adresse électronique «jetable» n’est pas autorisée.</p>
                <p class="text-justify">L'utilisateur assume les risques liés à l'utilisation de son identifiant et mot de passe.</p>
                <p class="text-justify">Tout usage de l'application par l'utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du LARHRA.</p>
                <h2>Article 9 – Responsabilité du LARHRA et force majeure</h2>
                <p class="text-justify">Une garantie optimale de la sécurité et de la confidentialité des données transmises n'est pas assurée par l'application. Toutefois, le LARHRA s'engage à mettre en œuvre tous les moyens nécessaires afin de garantir au mieux la sécurité et la confidentialité des données.</p>
                <p class="text-justify">La responsabilité du LARHRA ne peut, en aucune manière, être engagée quant au contenu des informations figurant dans l’application ou aux conséquences pouvant résulter de leur utilisation ou interprétation.</p>
                <p class="text-justify">La responsabilité du LARHRA ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>
                <h2>Article 10 – Traitement des données vous concernant</h2>
                <p class="text-justify">Les informations demandées à l’inscription à OntoME sont nécessaires et obligatoires pour la création du compte de l'utilisateur.</p>
                <p class="text-justify">Les informations recueillies vous concernant vont faire l'objet d'un traitement destiné à la gestion des comptes et des accès à l'application et à sa base de données.</p>
                <p class="text-justify"><strong>Les responsables du traitement sont:</strong></p>
                <ul>
                    <li>les administrateurs d'OntoME dont les noms figurent à l'article 2.</li>
                </ul>
                <p class="text-justify"><strong>Pour les finalités suivantes:</strong></p>
                <ul>
                    <li>création de votre compte : un numéro d'utilisateur (clé), un identifiant et un mot de passe vous sont attribués. Le mot de passe est crypté dans la base de données et connu de vous seul.</li>
                    <li>gestion de votre compte : numéro d'utilisateur (clé), identifiant, nom, prénom, adresse électronique, institution d'appartenance.</li>
                    <li>administration, gestion et animation du service: adresse électronique.</li>
                    <li>publication de la liste des membres : identifiant, nom, prénom, institution</li>
                    <li>journalisation des accès à l'application et à sa base de données : identifiant, adresse IP, agent utilisateur, horodatage.</li>
                </ul>
                <p class="text-justify"><strong>Les destinataires de ces données sont:</strong></p>
                <ul>
                    <li>les administrateurs d'OntoME dont les noms figurent à l'article 2: numéro d'utilisateur (clé), identifiant, nom, prénom, adresse électronique, institution d'appartenance.</li>
                    <li>les membres de l'application : les informations publiées dans la liste des membres.</li>
                    <li>tout public : les informations publiées dans les commentaires de l'application.</li>
                </ul>
                <p class="text-justify"><strong>La durée de conservation des données est de:</strong></p>
                <ul>
                    <li>un an : les données utilisées pour la journalisation des accès.</li>
                    <li>jusqu'à la fin du fonctionnement de l'application : les données utilisées pour la création de votre compte, pour l'affichage de la liste des membres de l'application et les informations publiées dans les commentaires.</li>
                </ul>
                <p class="text-justify"><strong>Transfert des données hors de l’Union Européenne:</strong></p>
                <p class="text-justify">Aucun transfert de données hors de l’Union européenne n’est réalisé.</p>
                <p class="text-justify">Conformément à la loi française « informatique et libertés » n° 78-17 et du règlement n° 2016/679 de l'Union européenne, vous disposez d'un droit d'opposition, d'accès, de rectification, d'effacement et de portabilité des informations vous concernant.</p>
                <p class="text-justify">Pour exercer ce droit, vous pouvez adresser votre demande en envoyant un courrier électronique à <a href="mailto:contact@ontome.net">contact@ontome.net</a>.</p>
                <p class="text-justify">Ou par voie postale:</p>
                <p class="text-justify">LARHRA – UMR 5190<br>MSH Lyon Saint-Étienne<br>14 avenue Berthelot<br>69363 LYON Cedex 07<br>France</p>
                <p class="text-justify">Vous avez la possibilité d'introduire une réclamation auprès d'une autorité de contrôle.</p>
                <h2>Article 11 – Évolution des conditions générales d'utilisation</h2>
                <p class="text-justify">Le LARHRA se réserve à tout moment le droit de modifier les clauses stipulées dans les présentes CGU.</p>
                <h2>Article 12 – Durée</h2>
                <p class="text-justify">La durée des présentes CGU sont indéterminées. Les CGU produisent leurs effets à l'égard de l'utilisateur à compter de l'utilisation du service.</p>
                <h2>Article 13 – Droit applicable</h2>
                <p class="text-justify">La législation française s'applique au présent contrat.</p>
            </div>
            <div id="cguen" class="tab-pane">
                <h1 class="page-header">Terms of Service</h1>
                <h2>Preliminary Article</h2>
                <p class="text-justify">Please note that the English version of these Terms of Service is provided for information purposes only. Only the French version is legally valid.</p>
                <h2>Article 1 – Object</h2>
                <p class="text-justify">The purpose of these Terms of service (hereinafter "ToS") is to provide a legal framework for the use of the OntoME online application (hereinafter "OntoME" or "the application") by "the user".</p>
                <p class="text-justify">ToS must be accepted by any user wishing to access the application. ToS constitute the contract between the application and the user. Access to the application by the user signifies his acceptance of these terms of service.</p>
                <h2>Article 2 – Legal notice</h2>
                <p class="text-justify">OntoME is being developed inside the Axe de recherche en histoire numérique (Digital history research team - ARHN) of the Laboratoire de recherche historique Rhône-Alpes (UMR 5190 LARHRA – CNRS, Université Lumière Lyon 2, Université Jean-Moulin Lyon 3, École normale supérieure de Lyon, Université de Grenoble-Alpes) - hereinafter "LARHRA" -. LARHRA provides the servers on which OntoME is located and the related software, as well as computer support and regular data backup.</p>
                <p class="text-justify">The publication director is Sophie Raux, director of LARHRA.<br>The application administrators are:</p>
                <ul>
                    <li>Francesco Beretta, project leader.</li>
                    <li>Vincent Alamercery, project manager, co-head of the Digital history research team.</li>
                    <li>Djamel Ferhod, lead developer.</li>
                    <li>Alexandre Perraud, developer.</li>
                </ul>
                <h2>Article 3 – Definitions</h2>
                <ul>
                    <li>User: any person using the application.</li>
                    <li>Member: a user becomes a member when he or she is identified in the application.</li>
                    <li>User content: data created by the user within the application.</li>
                    <li>Identifier and password: all the information necessary to identify a user of the application. Username and password allow the user to access services reserved for members of the application. The password is confidential.</li>
                </ul>
                <h2>Article 4 – Accessing the services and disclaimer</h2>
                <p class="text-justify">The application is accessible free of charge, anywhere to any user with Internet access. All access costs (hardware, software, Internet connection, etc.) are the responsibility of the user.</p>
                <p class="text-justify">The non-member user does not have access to the services reserved for members. To do this, he or she must identify himself or herself using his or her username and password. Failure by a member to comply with the ToS may result in the removal of their access to OntoME.</p>
                <p class="text-justify">LARHRA uses all the means at its disposal to ensure quality access to the application's services. As the obligation is one of means, LARHRA does not undertake to achieve this result.</p>
                <p class="text-justify">Any event due to a case of force majeure resulting in a malfunction of the network or server does not engage the responsibility of LARHRA.</p>
                <p class="text-justify">Access to OntoME may be interrupted, suspended, modified without notice at any time for maintenance or any other purpose. The user undertakes not to claim any compensation following the interruption, suspension or modification of this contract.</p>
                <p class="text-justify">In the event of withdrawal, exclusion or any other reason that terminates a member access to OntoME, the member may not request the removal of the content he or she has created. However, the name of the producer of the content will remain associated with it.</p>
                <p class="text-justify">The user has the option of contacting the application administrators by e-mail at <a href="mailto:contact@ontome.net">contact@ontome.net</a>.</p>
                <h2>Article 5 – Intellectual Property</h2>
                <p class="text-justify">The intellectual property of the OntoME application, database architecture and development belongs to LARHRA. LARHRA is the producer of OntoME and its database as defined by Article L 341-1 of the French Intellectual Property Code.</p>
                <p class="text-justify">User content is subject to the <strong>Creative Commons BY-SA 4.0 International licence</strong> (Attribution-ShareAlike) as described here: <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">https://creativecommons.org/licenses/by-sa/4.0/legalcode</a>.</p>
                <p class="text-justify">Members retain ownership of all their intellectual property rights.</p>
                <h2>Article 6 – Hypertext links</h2>
                <p class="text-justify">LARHRA cannot be held liable for the hypertext links set up from the application to external sites, particularly with regard to the content of these sites, but also for the technical risks. By accepting to use a hypertext link to access an external site, you accept to take the risks and to suffer any direct or indirect prejudice.</p>
                <p class="text-justify">The creation of hypertext links to the application is fully permitted.</p>
                <h2>Article 7 – Publication by the user</h2>
                <p class="text-justify">The application allows members to post comments.</p>
                <p class="text-justify">In publications, members undertake to respect the basic rules of courtesy and the rules of law in force.</p>
                <p class="text-justify">OntoME administrators exercise ex post moderation on comments and reserve the right to refuse posting online, without having to justify it to the member.</p>
                <p class="text-justify">Comments, as well as all data produced in the application, are subject to the Creative Commons 4.0 CC-BY-SA license as described in Article 5.</p>
                <h2>Article 8 – User’s liability</h2>
                <p class="text-justify">Members ensure that the chosen password is kept secretly. Any disclosure of the password, in any form, is prohibited.</p>
                <p class="text-justify">The user must enter a permanent e-mail address to create an account. The use of a "disposable" e-mail address is not permitted.</p>
                <p class="text-justify">Members assume the risks associated with the use of the username and password.</p>
                <p class="text-justify">Any direct or indirect damaging use of the application caused by the user must be compensated to LARHRA.</p>
                <h2>Article 9 – LARHRA’s liability and force majeure</h2>
                <p class="text-justify">The application does not guarantee optimal security and confidentiality of the transmitted data. However, LARHRA undertakes to implement all necessary means to ensure the best possible security and confidentiality of data.</p>
                <p class="text-justify">LARHRA cannot be held liable in any way for the content of the information contained in the application or for the consequences that may result from its use or interpretation.</p>
                <p class="text-justify">LARHRA cannot be held liable in the event of force majeure or the unforeseeable and insurmountable event of a third party.</p>
                <h2>Article 10 – Processing of your personal data</h2>
                <p class="text-justify">The information requested when registering with OntoME is necessary and mandatory for the creation of the user account.</p>
                <p class="text-justify">The information collected that concerns the user will be processed and is destined for managing accounts and access to OntoME and its database.</p>
                <p class="text-justify"><strong>Responsibles for the treatment are:</strong></p>
                <ul>
                    <li>OntoME administrators whose names appear in Article 2.</li>
                </ul>
                <p class="text-justify"><strong>For the following aim:</strong></p>
                <ul>
                    <li>creation of a an account: user key, login, password. The password is encrypted in the database and known to you alone.</li>
                    <li>management of the account: user key, login, given name, surname, e-mail, institution.</li>
                    <li>administration, management and animation of the service: e-mail.</li>
                    <li>publication of the members list: login, given name, surname, institution.</li>
                    <li>management of the access log (OntoME and its database): login, IP address, user agent, timestamp.</li>
                </ul>
                <p class="text-justify"><strong>The recipients of this data are:</strong></p>
                <ul>
                    <li>OntoME administrators whose names appear in Article 2: user key, login, given name, surname, e-mail, institution.</li>
                    <li>OntoME members: personal data published in the members list.</li>
                    <li>for all: information published in the comments.</li>
                </ul>
                <p class="text-justify"><strong>The duration of conservation of the data is:</strong></p>
                <ul>
                    <li>one year: data used for the access log.</li>
                    <li>until the end of OntoME: data used to create your account, data used to publish the members list and information published in the comments.</li>
                </ul>
                <p class="text-justify"><strong>Transfer of data outside the European Union:</strong></p>
                <p class="text-justify">No data is transferred outside the European Union.</p>
                <p class="text-justify">In accordance with the consolidated version of the French Data Protection Law 78-17 and the European Union regulation 2016/679, the user has the right of access, of correction, of portability, or of removal of these data. The user can oppose the processing of his or her personal data and  has the right to withdraw this agreement at any time. </p>
                <p class="text-justify">To exercise these rights, the user can send a request by e-mail to: <a href="mailto:contact@ontome.net">contact@ontome.net</a>.</p>
                <p class="text-justify">Or by postal mail:</p>
                <p class="text-justify">LARHRA – UMR 5190<br>MSH Lyon Saint-Étienne<br>14 avenue Berthelot<br>69363 LYON Cedex 07<br>France</p>
                <p class="text-justify">The user can also direct a complaint at a controlling body.</p>
                <h2>Article 11 – Modifying the Terms of Service</h2>
                <p class="text-justify">LARHRA reserves the right to modify the clauses stipulated in these ToS at any time.</p>
                <h2>Article 12 – Duration</h2>
                <p class="text-justify">The duration of these ToS is indefinite. The ToS are effective from the time the service is used.</p>
                <h2>Article 13 – Governing law and jurisdiction</h2>
                <p class="text-justify">French laws governs these Terms.</p>
            </div>
        </div>
    </div>
{% endblock %}