line {
    stroke: #666;
    alpha: -9999;
}

.node {
    pointer-events: all;
}

.node text {
    font: 8px sans-serif;
}

.link-label {
    font: 8px sans-serif;
}

.thesaurus-graph .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.thesaurus-graph .node text {
    font: 12px sans-serif;
}

.thesaurus-graph .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
