.node {
    cursor: pointer;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}

/* classes tree */

.search {
    width: 100%;
}

#tree-container {
    border: solid 1px #CCC;
    margin-top: 20px;
}

#tree-container-properties {
    height:700pt;
    overflow-y:auto;
}

.node {

}

.node circle {
    stroke-width: 1.5px;
}

.found {
    fill: #ff4136;
    stroke: #ff4136;
}
.node text {
    font: 10px sans-serif;
    cursor: pointer;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}