<!-- Modal -->
<div class="modal fade" id="modal-text-property-{{ modalId }}" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ textProperty.object.identifierInNamespace }} {{ textProperty.systemType.standardLabel }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ textProperty.textProperty}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>