{% extends 'base.html.twig' %}

{% block title %}{{ class.identifierInNamespace }}{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="class-name">{{ class.identifierInNamespace }}</h2>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#scope-notes">Home</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#namespaces">Namespace</a></li>
            <li><a data-toggle="tab" href="#class-hierarchy">Class hierarchy</a></li>
        </ul>

        <div class="tab-content">
            <div id="scope-notes" class="tab-pane fade in active">
                <h3>Scope Notes</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Identification</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="namespaces" class="tab-pane fade">
                <h3>Namespace</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="class-hierarchy" class="tab-pane fade">
                <h3>Class hierarchy</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
    </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}


{% endblock %}
