{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Legal Notice{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-header">Legal Notice</h1>
        <h2>Designation</h2>
        <p><a href="http://ontologies.dataforhistory.org">http://ontologies.dataforhistory.org</a></p>
        <p><strong>Ontology Management Environment</strong> website, hosted by the <a href="http://larhra.ish-lyon.cnrs.fr">Laboratoire de recherche historique Rhône-Alpes</a> (LARHRA)</p>

        <h2>Editor</h2>

        <p><strong>Publication director:</strong> Bernard Hours, director of LARHRA.</p>
        <p><strong>Site manager: </strong> Francesco Beretta, head of Digital history department (Pôle histoire numérique).</p>
        <p><strong>Design, development and implementation:</strong> Vincent Alamercery, research assistant ENS de Lyon LARHRA ; Djamel Ferhod, IT engineer CNRS LARHRA.</p>

        <h2 class="text-justify">Social reason and denomination</h2>

        <p class="text-justify">LARHRA - Laboratoire de Recherche Historique Rhône-Alpes : unité mixte de recherche (joint research center) 5190 from Centre national de la recherche scientifique (CNRS), in cotutelle with Université Lumière Lyon 2, Université Jean Moulin Lyon 3, Université Grenoble Alpes and École normale supérieure de Lyon.</p>

        <h2>Hosting</h2>

        <p>LARHRA – UMR 5190</p>
        <p>Institut des Sciences de l'Homme</p>
        <p>14 avenue Berthelot</p>
        <p>69363 LYON Cedex 07</p>
        <p>France</p>

        <h2>Software</h2>

        <p>Symfony, PostgreSQL, Apache, Linux Debian</p>

        <h2>License</h2>

        <p><a href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" style="border-width:0" /></a></p>
        <p>This work is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>

        <h2>Personal data</h2>

        <p class="text-justify">In accordance with the consolidated version of the French Data Protection Law 78-17, dated 6 January 1978, you have the right to access and rectify the data concerning you by writing an email to: larhra@ish-lyon.cnrs.fr.</p>

        <p>Or by postal mail :</p>
        <p>LARHRA - UMR 5190</p>
        <p>Institut des Sciences de l'Homme</p>
        <p>14, avenue Berthelot</p>
        <p>69363 Lyon Cedex 07</p>
        <p>France</p>

        <p>You can also, for legitimate reasons, oppose the processing of your personal data.</p>
    </div>
{% endblock %}