<h2>Reset password request</h2>

<p>Dear {{ user }},</p>
<p>Please click on the following link to reset your password. If you didn't ask for a new password, please ignore this e-mail.</p><br/>

<p> <a href="{{ path('user_reset_password', {
        token: user.token
    }) }}">
        {{ path('user_reset_password', {
            token: user.token
        }) }}
    </a>
</p>

