{{ form_start(projectThesaurusAssociationForm, {'attr': {'id': 'form_project_thesaurus_association_new'}}) }}
    {{ form_row(projectThesaurusAssociationForm.thesaurusURL) }}
<button type="button" id="mySubmitButton" class="btn btn-primary" formnovalidate><span id="submit-text">Save</span>&nbsp;
    <span id="submit-icon" class="far fa-save"></span>
</button>
<button type="submit" id="myHIDDENSubmitButton" formnovalidate style="display:none;"></button>
{{ form_end(projectThesaurusAssociationForm) }}