{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Request password</h1>
            <p>Enter your e-mail adress in order to reset your password:</p>
            {{ form_start(form) }}
                {{ form_row(form.email) }}
                <button type="submit" class="btn btn-success">Send e-mail <span class="fa fa-envelope"></span></button>
            {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}