<h2>Welcome to OntoME!</h2>

<p>Dear {{ user }},</p>
<p>You have successfully registered and can now work on OntoME.</p><br/>

<h3>How to login</h3>
<p>If you are not already logged in, please go to: <a href="{{ url('security_login') }}">{{ url('security_login') }}</a>.</p>
<p>Your login is <em>{{ user.login }}</em></p>
<p><strong>Your password is private and is known by no one but you, please keep it confidential.</strong></p><br/>
<h3>How to start</h3>
<p>You can read the <strong>User Guide</strong> at the following URL: <a href="http://phn-wiki.ish-lyon.cnrs.fr/doku.php?id=ontome:index">http://phn-wiki.ish-lyon.cnrs.fr/doku.php?id=ontome:index</a></p><br/>

<p>Thank you!</p><br/>
<p><em>The OntoME project team</em></p>
<p><a href="https://ontome.net">https://ontome.net</a></p>

